GEE_PROJECT_ID=graceful-fold-465505-i5
GEE_SERVICE_ACCOUNT=388055120512-compute@developer.gserviceaccount.com
GOOGLE_APPLICATION_CREDENTIALS=D:\path\to\service-account-key.json
GEE_WORKERS=2
GEE_RETRIES=3
